body {
  background-color: #000000;
  background-image: url('assets/backdrop.jpg');
  text-align: center;
  background-position: center;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.contactContainer {
  margin-top: 1em;
  background-color: #000000;
}

.listingContainer {
  border: 1px dashed;
  border-radius: 30px;
  display: inline-block;
  padding: 1em;
}

.listingImage {
  width: 15em;
  padding: 0.5em;
  border-radius: 30px;
}

.link {
  text-decoration: none;
  color: #EF3C29;
}

.logo {
  width: 6em;
  float: left;
}

.nav-bar {
  height: 6rem;
  background-color: #000000;
  width: 100%;
}

.slogan {
  border: 1px solid;
  border-radius: 500px;
  padding: 0.5em;
  width: 32em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.title {
  font-size: 6rem;
  padding: 3rem;
}

@media (max-width: 400px) {
  .logo {
    width: 17em;
    margin-top: -2em;
  }
}
